.viewer-background {
  min-height: 100vh;
  /* background-image: url("/images/logotes.png"); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
